# Object file
*.o

# Ada Library Information
*.ali

# Ada project 'lib/' contents
lib/*

# Ada project 'bin/' contents
bin/*

# Ada project 'obj/' contents
obj/*

# Alire project 'alire/' contents
alire/*

# Alire project '.lock' files
*.lock

# Any 'key.txt' files
keys.txt
Keys.txt
KEYS.txt

# Any 'aspell' back up files are excluded
*.bak

# Any 'debug' files
debug.txt
debug.out
debug.stderr
